{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    <div class="container">
        <h1> Register </h1>
        <br>
        {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
